@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Source+Sans+Pro&display=swap");

:root {
	/* --background: #fffffe;
	--button: #6246ea;
	--headline: #2b2c34;
	--button-text: #fffffe;
	--paragraph: #2b2c34;
	
	--card-background: #d1d1e9;
	--card-heading: var(--headline);
	--card-tag-background: #6246ea;

	*/
	--background: #fffffe;
	--color: rgb(43 44 52);
	--background-hero: #d1d1e9;
	--background-footer: #464a5f;
	--color-footer: #E6E7F2;
	--headline: #2b2c34;
	--paragraph: #2b2c34;
	--link: #6c63ff;
	--card-backgroud: #d1d1e9;
	--card-headline: #2b2c34;
	--card-paragraph: #2b2c34;


	--header-height: 150px;
	--header-before: calc(var(--header-height) - 4px);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 100%;
}

/* article {
	font-size: 1rem;
} */

h1,
h2, h3 {
	font-family: "Merriweather", serif;
}

p,
a {
	font-family: "Source Sans Pro", sans-serif;
}

/* Declare text styles */
h1,
h2,
p {
	/* Font minimum, preferred and maximum value */
	font-size: clamp(var(--min), var(--val), var(--max));
}

/* Font size variables */
h1 {
	--min: 2rem;
	--val: 5vw;
	--max: 3rem;
	line-height: calc(1ex / 0.42);
}

h2 {
	--min: 1.5rem;
	--val: 4vw;
	--max: 2.25rem;
	line-height: calc(1ex / 0.42);
}

h3 {
	--min: 1.2rem;
	--val: 3vw;
	--max: 1.75rem;
	line-height: calc(1ex / 0.38);
}

p, a {
	--min: 1rem;
	--val: 2.5vw;
	--max: 1.5rem;
	line-height: calc(1ex / 0.32);
}

/* article h1 {
	font-size: 2.5em;
	line-height: calc(1ex / 0.42);
	margin: calc(1ex / 0.42) 0;
}

article h2 {
	font-size: 2em;
	line-height: calc(1ex / 0.42);
	margin: calc(1ex / 0.42) 0;
}

article h3 {
	font-size: 1.75em;
	line-height: calc(1ex / 0.38);
	margin: calc(1ex / 0.38) 0;
}

article h4 {
	font-size: 1.5em;
	line-height: calc(1ex / 0.37);
	margin: calc(1ex / 0.37) 0;
}

article p {
	font-size: 1em;
	line-height: calc(1ex / 0.32);
	margin: calc(1ex / 0.32) 0;
} */

body {
	min-width: 500px;
	margin: 0;
	padding: 0;
}

.cont {
	gap: 10px;
}

.cont-child {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 0.3fr repeat(4, 1fr) 0.3fr;
	grid-template-areas:
		'header header header header header header'
		'main main main main main main'
		'footer footer footer footer footer footer';
}

.grid-container>* {
	background-color: var(--background);
	color: var(--color);
}

.header {
	grid-area: header;
	z-index: 1;
	display: grid;
	grid-template-columns: 0.3fr repeat(4, 1fr) 0.3fr;
	grid-template-areas:
		'. main-title logo logo nav .'
		'. main-title logo logo nav .';
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
	height: var(--header-height);
	background-color: var(--background);
	
}

.header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: var(--header-before);
	top: 0;
	left: 0;
	z-index: -100;
}

.header-center-block {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-left-block {
	grid-area: main-title;
	display: flex;
	justify-content: flex-start;
	margin-left: -4rem;
}

.header .logo img {
	height: 33px;
	filter: brightness(0.3) saturate(100%);
}

#header-img>* {
	width: auto;
	height: var(--header-height);
}

.header nav {
	grid-area: nav;
	background-color: unset;
}

.material-symbols-outlined {
	font-family: "Anicons Regular", sans-serif;
	font-variation-settings: "TIME" 1;
	transition: font-variation-settings 0.4s ease;
	display: none;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
}

.header li {
	margin-right: 15px;
	font-weight: 400;
}

.header a {
	text-decoration: none;
	color: var(--color);
}

.header a:hover {
	color: var(--link);
	cursor: pointer;
}

.main {
	grid-area: main;
	display: grid;
	grid-template-columns: 0.3fr repeat(4, 1fr) 0.3fr;
	grid-template-areas:
		'. values values values values .'
		'hero-container hero-container hero-container hero-container hero-container hero-container'
		'hero-container hero-container hero-container hero-container hero-container hero-container'
		'. products products products products .';
	justify-content: center;
	min-width: 400px;
	margin: 2rem 0;
}

.footer {
	grid-area: footer;
	background-color: var(--background-footer);
	color: var(--color-footer);
	text-align: start;
}

.footer-wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.footer-copyright {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.footer-main {
	flex: 1;
	padding-right: 35%;
}

.footer-col {
	display: flex;
	width: 25%;
	flex-direction: column;
	justify-content: flex-start;
}

.footer-col a {
	text-decoration: none;
	color: var(--color-footer);
}

.footer-col a:hover {
	cursor: pointer;
	color: var(--link);
}

.hero-container {
	grid-area: hero-container;
	display: grid;
	grid-template-columns: 0.1fr repeat(2, 1fr) repeat(2, 0.5fr) 0.1fr;
	grid-template-areas: 
		'. video video hero hero .'
		'. video video hero hero .';
	background-color: var(--background-hero);
	padding-top: 7rem;
	padding-bottom: 7rem;
	box-shadow: 0 0px 10px #000;
	margin-top: 2rem;
}

.hero {
	grid-area: hero;
	display: grid;
	grid-template-columns: 0.3fr repeat(4, 1fr) 0.3fr;
	grid-template-areas:
		'. suggestion suggestion suggestion suggestion .'
		'. form form form form. ';
	background-color: transparent;
}

.suggestion {
	grid-area: suggestion;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: start;
}

.suggestion>figure,
blockquote {
	margin: 0;
}

.form {
	grid-area: form;
	display: flex;
	flex-direction: column;
}

#form {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input {
	height: 2rem;
	background-color: #fffffe;
	border: none;
	border-radius: 3px;
}

input[type="submit"] {
	height: 2.5rem;
	font-weight: 700;
}

#submit {
	background-color: #6246ea;
	color: #fffffe;
}

.values {
	grid-area: values;
	background: transparent;
}

.video {
	grid-area: video;
}

.video iframe {
	min-height: 315px;
	max-width: 650px;
	width: 90%;
	height: 100%;
	border-radius: 3px;
}

.products {
	grid-area: products;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 2rem;
}

.product > .card {
	background-color: var(--card-backgroud);
}


.card {
	height: 100%;
	position: inherit;
	border: none;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	/* padding: 2.5rem; */
}

.card:hover {
	box-shadow: 0 10px 30px -10px #000;
	translate: 0px -4px 0;
	position: inherit;
	cursor: pointer;
}

.card-title {
	color: var(--card-headline);
}

.card-text {
	color: var(--card-paragraph);
}

.card-img-top {
	width: 100%;
	height: 50%;
	object-fit: cover;
	border: none;
}

@media only screen and (max-width: 1000px) {
	.hero-container {
		grid-template-areas:
			'. hero hero hero hero .'
			'. video video video video .';
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	#form {
		padding: 0 3rem;
	}

	.form {
		padding: 1rem;
	}

	input[type="email"] {
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 700px) {



	.footer-wrap {
		flex-direction: column;
	}

	.products {
		grid-area: products;
		display: grid;
		grid-template-columns: auto;
	}

	.material-symbols-outlined {
		display: block;
		font-size: 2rem;
		cursor: pointer;
	}

	.header {
		grid-template-areas:
			'main-title logo logo logo logo nav'
			'main-title logo logo logo logo nav';
	}

	.header ul {
		display: none;
	}

	.header a:hover {
		text-decoration: none;
	}

	.header nav {
		position: relative;
	}


	.header nav>ul.hover {
		display: flex;
		flex-direction: column;
		height: auto;
		z-index: 1000;
		position: absolute;
		left: -100px;
		right: 0;
		background-color: var(--background-footer);
		/* border: 1px solid black; */
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}


	.material-symbols-outlined.hover {
		font-variation-settings: "TIME" 100;
	}

	.header li {
		margin: 0;
		padding: 5px;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.header a {
		color: var(--color-footer);
	}

	.header li:hover {
		background-color: var(--link);
	}

	.header li:hover > a {
		color: var(--color);
		font-weight: bold;
	}



	.card-img-top {
		height: 18rem;
	}

	.card {
		display: flex;
		flex-direction: row;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
